body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Style for the input elements */
input {
  padding: 10px;
  margin: 5px;
  width: 100px;
}

/* Style for the buttons */
button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}

/* Style for the result paragraph */
p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
